:root {
    --league-spartan: "League Spartan", sans-serif;
    --signature: "Cherish", cursive;
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
    --primary: #e87d45;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--league-spartan);
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 2.5rem;
    display: flex;
    justify-content: center;
    /* background: linear-gradient(0deg, rgba(213,230,87,0) 0%, rgba(25,25,25,0.6) 100%); */
    z-index: 1;
}

.header-logo{
    width: 4rem;
    height: 1rem;
}

/* Navigation */

.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.main-nav__logo {
    display: none;
}

.menu__btn {
    position: fixed;
    background: url('../images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    padding: 0.5rem;
    z-index: 1;
    top: 2.5rem;
    left: 2rem;
}

#menu__toggle {
    opacity: 0;
    position: absolute;
}

#menu__toggle:checked ~ .menu__box{
    visibility: visible;
}

#menu__toggle:checked ~ .menu__btn {
    background: url('../images/icon-close.svg');
    background-repeat: no-repeat;
    padding: 0.5rem;
}

.menu__box {
    position: fixed;
    padding: 2.5rem 3rem 2.5rem 1rem;
    visibility: hidden;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: var(--white);
    column-gap: 1rem;
    top: 0;

    
    li{
        list-style: none;
    }

    li a:hover {
        font-weight: 600;
        cursor: pointer; 
    }
}

/* Main Content */

.content-container {
    img {
        width: 100%;
        object-fit: cover;
    }
}

.content__texts {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 2.7rem 2rem;

    h2 {
        text-transform: uppercase;
        font-size: 0.9rem;
        letter-spacing: 5px;
    }
}

.plain-text {
    color: var(--dark-gray);
    line-height: 1.4rem;
}

/* Footer */

.credits {
    #credits__button {
        display: none;
    }

    .attribution {
        background: var(--black);
        color: var(--dark-gray);
        padding: 2rem 0rem;
        font-size: 0.8rem;
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: var(--white);
    }
}

@media screen and (min-width: 1000px){
    body {
        max-height: 100vh;
        display: grid;
        grid-template-rows: 2fr 1fr;
    }

    header {
        display: none;
    }

    /* Navigation */
    .main-nav {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        column-gap: 4rem;
        padding: 4rem 3rem 0rem 3rem;
    }
    
    .main-nav__logo {
        display: block;
        height: 1.2rem;

        &:hover {
            cursor: pointer;
        }
    }
    
    .menu__btn, #menu__toggle {
        display: none;
    }
    
    .menu__box {
        position: relative;
        visibility: visible;
        background: none;
        padding: 0;
        justify-content: flex-start;
        column-gap: 2rem;
        
        li {
            font-size: 1.3rem;
            color: var(--white);
        }
    }
    main{
        height: 40%;
    }

    .content-container{
        width: 100%;
        display: grid;
        grid-template-columns: 4fr 5fr 4fr;
        height: 100%;

        .content__texts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0rem 4rem;
        }

        h2 {
            font-size: 1.3rem;
            letter-spacing: 7px;
        }

        .plain-text {
            font-size: 1.2rem;
            line-height: 1.6rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .credits {
        position: absolute;
        bottom: 5rem;
        left: 4rem;
        display: flex;
        align-items: center;
        
        #credits__button {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4rem;
            width: 4rem;
            border-radius: 50px;
            border: none;
            background: var(--primary);

            font-size: 2.5rem;
            font-family: var(--signature);

            &:hover {
                cursor: pointer;
            }
        }
        
        .attribution {
            display: flex;
            align-items: center;
            left: 1rem;
            width: 0.1rem;
            height: auto;
            padding: 1.3rem 2rem 1.3rem 0rem;
            border-radius: 50px;
            overflow: hidden;
            white-space: nowrap;
            font-size: 1rem;
            transition: width 0.5s, padding 0.5s;

            a {
                margin-left: 0.3rem;
            }
        }

        #credits__button:hover ~ .attribution, .attribution:hover{
            width: 32rem;
            padding-left: 5.5rem;
        }
    }


}